.titulo-tabela{
    padding: 10px 0 0 25px;
    margin-bottom: 5px;
  }
  
  .titulo-tabela-publi{
    padding: 10px;
  }
  
  .titulo-tabela-linha{
    padding-left: 35px;
    padding-top: 10px;
  }
  
  
  .tabela-publicacoes{
    max-width: 100%;
    table-layout: fixed;
  }
  
  .tabela-publicacoes th:first-child{
    width: 60%;
  }
  
  .tabela-publicacoes td,.tabela-publicacoes th, .break-word{
    word-wrap: break-word;
    overflow: hidden;
    white-space: normal;
  }
  
  .tabela-publicacoes td{
    text-align: center;
  }
  
  .submenu{
    box-shadow: none;
  }
  
  .grafico-docente-tab{
    position: absolute;
    z-index: 2;
    top: 16px;
    right: 30px;
  }
  
  .titulo-grafico-docente-tab{
    margin-top: 20px;
  }
  
  .card-body-grafico-docente{
    padding-bottom: 0;
  }
  
  .chart-grafico-docente{
    height: auto;
  }
  
  .grafico-docente-tab li a.active h6{
    color: #fff;
  }
  
  .grafico-docente-tab li a h6{
    color: #000;
  }
  
  .chart-grafico-docente .svg-container{
    width: 100% !important;
  }




  .lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #fff;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }


 #loading{
  background: #052e70fa;
  position: absolute;
  top: 0;
  z-index: 3;
  left: 0;
  width: 100%;
  box-shadow: none;
  height: 100%;
 }

 .lds-spinner{
  position: absolute;
  left: calc(50% - 40px);
  top: 150px;
 }

 .texto-numero-docentes{
  font-weight: bold;
 }

 .titulo-sessao-departamentos{
  margin-bottom: 20px;
  font-size: 1.3rem;
 }

 .prod-hist{
  background-color: #fff !important;
 }

 .titulo-index{
  font-size: 2.025rem;
  margin: 25px;
  color: #052e70;
  margin-left: 50px;
 }



 .texto-index{
  width: 100%;
  font-size: 16px;
  border: 1px solid #fff;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  text-align: justify;
  height: 198px;
 }

 .titulo-tabela-todos{
  margin: 8px;
  margin-bottom: 8px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
  }


  .botao-drop{
    display: none;
    color: #052e70;
  }

  .nav-bar-div{
    justify-content: space-between;
  }

  .regulador-drop-r{
    display: none;
  }

  .card-head{
    height: 100px;
  }

  .card-landing{
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 1000px;
    width: 680px;
    background-color: #052e70;
    border-radius: 10px;
    box-shadow: none;
  }

  .div-img-land{
    align-items: flex-end;
  }

  .img-land{
    width: 70%;
    height: 155px;
  }

  .img-logo-usp{
    width: 200px;
  }

  .div-text-land{
    width: -moz-available;
    text-align: inherit;
    justify-content: center;
    align-items: normal;
  }

  .spacing-div{
    display: flex;
    justify-content: space-between;
  }

  .p-text-logo{
    width: 414px;
    font-family: "Arial Narrow", "Arial" , Sans-serif;
    color: #fff;
    margin: 0;
    font-size: 1.2rem;
  }

  .p-analytics-text-logo{
    font-family: "Arial Narrow", "Arial" , Sans-serif;
    color: #fff;
    font-size: 3.3rem;
    padding: 0;
    margin-top: -28px;
    margin-bottom: 22px;
    text-align: inherit;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .span-landing{
    padding: 1.2rem;
    font-size: 3rem;
    background-color: #052e70;
    color: #fff;
    border-radius: 10px;
    }

    .center-item{
      justify-content: center;
    }

  .icone-login{
    border: 1px solid #e6eaf1;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: #e6eaf1;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-bar-auth{
    display: flex;
    align-items: center;
  }

  .span-auth{
    margin-right: 15px;
    color: #d2d8e1;
  }

  .span-bold{
    font-weight: bold;
  }

  .sidebar-items{
    text-align: center;
    color: #8d9cae;
  }

  .sidebar-items-items{
    color: #8d9cae;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    
  }

  .sidebar-items-items:hover{
    color: #535c66;
  }

  .titulo-mapa-index{
    margin: 6px 5px 6px 5px;
    font-size: 1rem;
  }

  .legenda-mapa-index{
    text-align: center;
    margin-left: -120px;
  }

  .grafico-hist-min{
    min-height: 270px;
  }

  .header-mapa{
    background-color: #f5f8fb;
    border-bottom: 1px solid #e3e9ee;
    padding-left: 15px;
  }

  .cell-tabel-mapa{
    border-bottom: 1px solid #e3e9ee;
    padding-left: 15px;
    font-size: 15px;
  }

  .tabela-mapa{
    margin-top: 23px;
    margin-left: 15px;
    background-color: #fff;
    border-radius: 10px;
    min-width: 516px;
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15);
  }

  @media only screen and (max-width: 1706px) {
    .regula-altura{
      height: 120px;
    }
  }

  @media only screen and (max-width: 1303px) {
    .regula-altura{
      height: 160px;
    }
  }

  @media only screen and (max-width: 1198px) {
    .botao-drop{
      display: flex;
      color: #f7fafc;
      border-radius: 50px;
      border: 1px solid #f7fafc;
      background-color: #052e70;
    }
    #sidenav-main{
      display: none;
    }

    #navbarSupportedContent{
      justify-content: space-around;
    }

    .regula-altura{
      height: 100px;
    }

    .regulador-sobre-nos{
      margin-top: 180px;
    }

    .img-logo-usp{
      display: none;
    }
  }


  @media only screen and (max-width: 575px){
    .nav-bar-div{
      justify-content: end;
    }

    .p-text-logo, .p-analytics-text-logo{
      display: none;
    }

    .regulador-sobre-nos{
      margin-top: 232px;
    }
  }


  @media only screen and (max-width: 430px){
    .regulador-drop{
      display: none;
    }
    .regulador-drop-r{
      display: flex;
    }


    .regulador-sobre-nos{
      margin-top: 370px;
    }

    .nav-bar-div{
      justify-content: left;
    }
  }


  @media only screen and (max-width: 350px){
    .texto-numero-docentes{
      margin-top: -10px !important;
    }
  }
