@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

* {
    padding: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

html,
body,
.side-bar,
.main-section,
.main-content {
    height: 100%;
}

ul,
ol,
li,
hr {
    all: unset
}

.main-section {
    display: flex;
}

.main-content {
    display: flex;
    width: 100%;
    margin-left: 15.65rem;
    flex-direction: column;
}


/* Sidebar */

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 15.65rem;
    max-width: 15.65rem;
    min-width: 15.65rem;
    position: fixed;
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15);
}

.sidebar-header {
    height: 5rem;
    margin: 0 0 0.5rem 0;
}

.sidebar-logo {
    width: 100px;
    height: 32px;
}

.sidebar-logo-link {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.sidebar-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-menu {
    width: 100%;
}

.sidebar-menu-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.sidebar-menu-item {
    width: 75%;
    height: 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    background-color: #f6f9fc;
    margin-top: 0.5rem;
    border-radius: 5px;
    font-size: 14px;
    color: #696969;
}

.sidebar-menu-item>a {
    text-decoration: none;
    color: #00000099;
    ;
}

.sidebar-line {
    height: 1px;
    border-width: 0;
    color: #e5e5e5;
    background-color: #e5e5e5;
    width: 80%;
    margin: 1rem 0 1rem 0;
}


/* NavBar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    min-height: 5rem;
    max-height: 5rem;
    background-color: #052e70;
    border-color: #0f3676;
}

.navbar-login {
    margin-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-icon {
    border: 1px solid #e6eaf1;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: #e6eaf1;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #052e70;
}

.navbar-username {
    margin-right: 15px;
    color: #d2d8e1;
}

.navbar-menu {
    display: none;
}

/* Search-bar */

.searchbar-div {
    display: flex;
    margin-left: 2rem;
    background-color: #e6eaf1;
    padding: 0.675rem;
    border-radius: 5rem;
    width: 18rem;
    transition: width 0.4s ease-in-out;
}

.is-toggled {
    width: 26.25rem;
}

.search-icon-div {
    margin-left: 0.4rem;
}

.search-icon {
    color: #696969;
    font-size: 0.875rem;
}

.search-input {
    background-color: #e6eaf1;
    margin-left: 0.75rem;
    font-size: 13px;
    border-style: none;
}

.search-input:focus {
    border-style: none;
    background-color: #e6eaf1;
}

/* Header */

.header,
.landing-header {
    min-height: 315px;
    background-color: #052e70;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #ffffff14;
    height: 315px;
}

.landing-header {
    min-height: 255px !important;
    height: 255px !important;
}

.caminho-header {
    display: flex;
    width: 100%;
    height: 112px;
    min-height: 112px;
    align-items: center;
}

.caminho-box {
    background-color: #e9ecef;
    border-radius: 0.375rem;
    height: 48px;
    margin-left: 30px;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1rem;
    color: #8898aa;
}

.caminho-box>* {
    text-decoration: none;
    list-style: none;
}

.header-icone {
    color: #052e70;
}

.caminho-header-item {
    color: #163c79;
    text-decoration: none;
}

.last-item {
    color: #8898aa;
}

.caminho-bar {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.card-header-container {
    margin-left: 1.875rem;
    height: 34rem;
    display: flex;
    flex-wrap: wrap;
}

.card-header-block {
    display: flex;
    width: 50%;
}

.card-header {
    max-width: 50%;
    width: 50%;
    min-width: 12.5rem;
    height: 6.25rem;
    background-color: #ffffff;
    border-radius: 0.375rem !important;
    margin: 0 1.875rem 0 0;
    display: flex;
    align-items: center;
}

.card-header-infos {
    margin: 1.25rem;
    width: 100%;
}

.card-header-title {
    color: #8898aa;
    font-weight: 600;
    font-size: 0.8125rem;
    text-transform: uppercase;
}

.card-header-content {
    color: #052e70;
    font-size: 17px;
    font-weight: 600;
}

.dropdown{
    width: 35%;
}

.dropdown-button {
    cursor: pointer;
    transition: transform 1s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-button > i{
    font-size: 14px;
}

.dropdown:hover{
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15);
}

.dropdown-items {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 20rem;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 0.375rem !important;
    transition: transform 10s;
}

.dropdown-items>span {
    padding: 0.5rem;
    text-align: left;
    font-size: 14px;
    color: #052e70;
    transition: transform 1s;
}

.dropdown-is-toggled {
    display: flex !important;
}

/* DashBoard */

.main-dashboard {
    width: 100%;
    margin-top: -4.5rem;
}

.dashboard-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem 1.875rem;
}

.dashboard-row:first-child {
    margin-top: 0;
}

.card-dash-3,
.card-dash-5,
.card-dash-6,
.card-dash-10 {
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15);
}

.card-dash-3 {
    width: 32%;
    min-width: 32%;
}

.card-dash-5 {
    width: 49%;
    min-width: 49%;
}

.card-dash-6 {
    width: 66%;
    min-width: 66%;
}

.card-dash-10 {
    width: 100%;
    min-width: 100%;
}

.dark-card-dash {
    background-color: #172b4d;
}

.has-childs {
    display: flex;
    flex-direction: column;
    box-shadow: none !important;
}

.card-dash-child {
    border-radius: 5px;
    min-height: 25rem;
    background-color: #fff;
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15);
}

.card-dash-child:first-child {
    margin-bottom: 2rem;
}

.select-container {
    min-height: 3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-left: 1.7rem;
}

.select-container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.select-grafico {
    background-color: #fff;
    border: 1px solid #fff;
    margin-right: 2rem;
    height: 2rem;
    width: 10rem;
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15);
    padding-left: 10px;
}

.grafico-container {
    margin: 0 1rem;
    min-height: 515px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grafico-container>p {
    font-size: 12px;
    margin-top: 2rem;
    color: #847f7f;
}

.grafico-container>.loader {
    display: none;
}

.table-container,
.table-content {
    width: 100%;
}

.table-container>div {
    overflow-x: auto;
}

.table-container>div>div:first-child {
    display: flex;
    align-items: center;
    padding: 0.3rem;
    font-size: 0.9rem;
    color: #525f7f;
}

.table-container>div>div:last-child {
    display: flex;
    align-items: center;
    padding: 0.3rem;
    font-size: 0.9rem;
    color: #525f7f;
}

.table-row-header,
.sobre-nos-header {
    height: 2rem;
    background-color: #f6f9fc;
    color: #8898aa;
    font-size: 0.9rem;
    border-radius: 20px 20px 0 0;
}

.table-header-item {
    font-size: 13px;
}

.table-row-header {
    padding: 0.5rem;
}

.table-row-header>th {
    padding: 0.5rem;
}

.table-row-default {
    border-top: 0.5px solid #e9ecef;
    color: #32325da8;
}

.table-row-default>.table-cell-index {
    font-size: 13px;
    text-align: start;
    width: 25%;
}

.table-cell-index {
    text-align: center;
    border-right: 0.5px solid #e9ecefa1;
}

.sobre-nos-header {
    font-size: 1.3rem !important;
    padding-left: 1rem;
    color: #525f7f !important;
    margin: 0;
}

th,
td {
    padding: 1rem;
    text-decoration: none;
    font-size: 0.9rem;
}

.celula-simples {
    color: #525f7f;
}

.lattes-logo {
    text-align: center;
    color: #446395;
}

.nome-lattes {
    text-decoration: none;
    color: #446395;
}

.active>.page-link {
    background-color: #042e6f !important;
    border: #042e6f;
}

.page-link {
    color: #042e6f;
}

.page-item .page-link {
    border-radius: 10rem !important;
    margin-right: 12px;
}

/* Landing Header */

.logo-usp-fflch-row {
    display: flex;
    justify-content: space-between;
}

.logo-fflch-analytics {
    display: flex;
    align-items: center;
}

.logo-fflch {
    width: 266px;
    height: 155px;
    margin-left: 1.85rem;
}

.logo-usp {
    margin-right: 30px;
}

.img-logo-usp {
    width: 200px;
}

.logo-analytics {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family: "Arial Narrow", "Arial", Sans-serif;
    margin-top: 22px;
    text-decoration: none;
}

.analytics-logo-title {
    font-size: 19px;
    margin-bottom: -22px;
    font-family: "Arial Narrow", "Arial", Sans-serif;
}

.analytics-logo-subtitle {
    font-family: "Arial Narrow", "Arial", Sans-serif;
    font-size: 3.3rem;
}

.texto-index {
    width: 100%;
    font-size: 16px;
    border: 1px solid #fff;
    padding: 40px;
    padding-top: 50px;
    background-color: #fff;
    border-radius: 10px;
    text-align: justify;
    font-weight: 600;
    line-height: 1.5;
    color: #32325d;
    margin: 0;
}

.sobre-nos-header>span {
    font-weight: 600;
    line-height: 1.5;
    color: #32325d;
    font-size: 17px;
}

.sobre-nos-items>a {
    margin: 0;
    line-height: 1.5;
    color: #32325d;
    font-size: 13px;
    padding-left: 2rem;
    height: 50px;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: 650ms;
}

.sobre-nos-items>a:hover {
    color: #32325d56;
}

.sobre-nos-items>a:first-child {
    border-top: 0.5px solid #e9ecef;
    border-bottom: 0.5px solid #e9ecef;
}

.sobre-nos-items>a:last-child {
    border-top: 0.5px solid #e9ecef;
}

.contato-container {
    border: 0.5px solid #32325d36;
    margin: 1.5rem;
    padding: 1.5rem;
    border-radius: 0 20px;
    color: #32325d;
}

.container-sobre-nos>h5,
.container-sobre-nos>h6 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    font-weight: 600;
}

.container-sobre-nos-infos {
    display: flex;
    flex-direction: column;
    margin-left: 0.75rem;
}

.container-sobre-nos-text {
    display: flex;
    flex-direction: column;
    text-align: justify;
    text-indent: 2rem;
}

.container-sobre-nos-text>span {
    margin-bottom: 2rem;
}

.container-sobre-nos-text>span>a {
    color: #446395;
}

.container-sobre-nos-icons {
    display: flex;
    justify-content: space-around;
    margin: 3rem 1.5rem;
}

.container-sobre-nos-icons>a>i {
    font-size: 3rem;
}

.container-sobre-nos-icons>a {
    text-decoration: none;
    color: black;
}

.card-title {
    display: flex;
    justify-content: center;
}

.map-title {
    width: 70%;
    text-align: center;
    padding-top: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: #32325d;
}

.inline-obs {
    font-size: 14px;
    font-weight: 300;
}

.active-message {
    visibility: visible !important;
}

.messages {
    height: 1rem;
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 10px;
    visibility: hidden;
}

.check-box {
    margin-right: 2rem;
    margin-left: 0.5rem;
}

btn {
    transition: 600ms ease-in-out !important;
}

btn:hover {
    background-color: #fff !important;
    color: #052e70 !important;
    border: 0.5px solid #052e70;
    border-radius: 0.75rem;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #052e70;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* Responsividade !! */

@media only screen and (max-width: 1198px) {

    /* Basic config */
    .sidebar {
        display: none;
    }

    .main-content {
        margin-left: 0;
    }

    .navbar-menu {
        display: flex;
        border: 1px solid #fff;
        width: 6rem;
        height: 3rem;
        border-radius: 2rem;
        align-items: center;
        justify-content: center;
        color: #fff;
    }

    .navbar-menu:hover {
        background-color: #fff;
        color: #052e70;
        transition: 750ms;
    }

    /* Content Display Config */

    .header {
        height: 445px;
        min-height: 445px;
    }

    .card-header-container {
        flex-direction: column;
    }

    .card-header-block {
        width: 100%;
    }

    .card-header-block:first-child {
        margin-bottom: 1.875rem;
    }

    .card-header {
        max-width: 34.375rem;
        width: 34.375rem;
    }

    .card-dash-3,
    .card-dash-6,
    .card-dash-9 {
        width: 94.5%;
    }
}

@media only screen and (max-width: 750px) {

    .logo-analytics {
        display: none;
    }

}

@media only screen and (max-width: 650px) {

    .navbar {
        justify-content: space-around;
    }

    .navbar-searchbar {
        display: none;
    }

    .header {
        min-height: 675px;
    }

    .caminho-header {
        justify-content: center;
    }

    .caminho-box {
        margin: 0 1rem;
    }

    .card-header-container {
        align-items: center;
        margin: 0;
    }

    .card-header-block {
        flex-wrap: wrap;
        justify-content: center;
        max-width: 100%;
        width: 100%;
        height: 45%;
    }

    .card-header {
        margin: 0 1rem;
    }

    .card-header-block:first-child {
        margin-bottom: 0;
    }

    .dashboard-row {
        justify-content: center;
    }

    .card-dash {
        width: 100%;
        margin: 0 1rem;
    }
}

@media only screen and (max-width: 500px) {

    .logo-usp {
        display: none;
    }
}