.titulo-tabela{
    padding: 10px 0 0 25px;
    margin-bottom: 5px;
  }
  
  .titulo-tabela-publi{
    padding: 10px;
  }
  
  .titulo-tabela-linha{
    padding-left: 35px;
    padding-top: 10px;
  }
  
  .link-direita-linha{
    margin-right: 20px;
  }
  
  .tabela-publicacoes{
    max-width: 100%;
    table-layout: fixed;
  }
  
  .tabela-publicacoes th:first-child{
    width: 60%;
  }
  
  .tabela-publicacoes td,.tabela-publicacoes th, .break-word{
    word-wrap: break-word;
    overflow: hidden;
    white-space: normal;
  }
  
  .tabela-publicacoes td{
    text-align: center;
  }
  
  .submenu{
    box-shadow: none;
  }
  
  .grafico-docente-tab{
    position: absolute;
    z-index: 2;
    top: 16px;
    right: 30px;
  }
  
  .titulo-grafico-docente-tab{
    margin-top: 20px;
  }
  
  .card-body-grafico-docente{
    padding-bottom: 0;
  }
  
  .chart-grafico-docente{
    height: auto;
  }
  
  .grafico-docente-tab li a.active h6{
    color: #fff;
  }
  
  .grafico-docente-tab li a h6{
    color: #000;
  }
  
  .chart-grafico-docente .svg-container{
    width: 100% !important;
  }

 