<div class="sidebar">
    <div class="sidebar-header">
        <a class="sidebar-logo-link" href="/">
            <img class='sidebar-logo' src="/static/assets/img/{{ logo }}">
        </a>
    </div>
    <div class="sidebar-body">
        <div class="sidebar-menu">
            <ul class="sidebar-menu-items">
                {% for item in menu %}
                <div class="sidebar-menu-item dropdown">

                    {% if item.submenu %}
                        <a href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            {{ item.text }}
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            {% for subitem in item.submenu %}
                            <li><a class="dropdown-item" href="/{{ item.url }}/{{ subitem.url }}/">{{ subitem.text }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <a href="/{{ item.url }}/">
                            {{ item.text }}
                        </a>
                    {% endif %}
                </div>
                {% endfor %}
            </ul>
        </div>
        <hr class="sidebar-line">
        <div>

            <!-- ADICIONAR COISA -->

        </div>
    </div>
</div>