<nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
  <div class="container-fluid">
    <div class="collapse navbar-collapse nav-bar-div" id="navbarSupportedContent">
      <!-- Search form -->
      <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main" action="/submit">
        <div class="form-group mb-0">
          <div class="input-group input-group-alternative input-group-merge">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-search"></i></span>
            </div>
            <input class="form-control" placeholder="Search" type="text">
          </div>
        </div>
        <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </form>

      <div class="btn-group dropleft regulador-drop">

        {% include 'includes/dropdown-nav.html' %}

      </div>
      <div class="btn-group dropdown regulador-drop-r">

        {% include 'includes/dropdown-nav.html' %}

      </div>

      <div class="nav-bar-auth">
        {% if user.is_authenticated %}
          <span class="span-auth">
            11253372 - André de Queiroz
          </span>

          <div class="icone-login">
            <a href="logout/">
              <i class="fas fa-sign-out-alt"></i>
            </a>  
          </div>
        {% else %}
        <span class="span-auth">
          Não autenticado.
        </span>

        <div class="icone-login">
          <a href="#">
            <i class="fas fa-sign-in-alt"></i>
          </a>  
        </div>
        {% endif %}
      </div>
      <!-- Navbar links -->
    </div>
  </div>
</nav>