<div class="header bg-primary pb-6">
  <div class="container-fluid">
    {% if landingpage %}
    <div class="header-body">
      <!-- Caminho -->

      <!-- Card stats -->
      <div class="row spacing-div">
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats card-landing">
            <!-- Celulas -->

              <a class="d-flex div-img-land" href="/">
                <img src="/static/assets/img/brand/fundoazul.png" class="img-land">

                <div class="d-flex flex-column div-text-land">
                  <p class="p-text-logo">
                    Faculdade de Filosofia Letras e Ciências Humanas
                  </p>
                  <p class="p-analytics-text-logo">
                    Analytics
                  </p>
                </div>
              </a>

          </div>
        </div>
        <div>
          <a href="https://www5.usp.br/" target="_blank">
            <img src="/static/assets/img/brand/usplogo.png" class="img-logo-usp">
          </a>
        </div>
      </div>
    </div>
    {% else %}
    <div class="header-body">
      <!-- Caminho -->
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
              {% for item in caminho %}
                {% if item == caminho|last %}
                  <li class="breadcrumb-item active" aria-current="page">{{ item.text }}</li>
                {% else %}
                  <li class="breadcrumb-item"><a href="{{ item.url }}">{{ item.text }}</a></li>
                {% endif %}
              {% endfor %}
            </ol>
          </nav>
        </div>
      </div>
      <!-- Card stats -->
      <div class="row">
        <!-- Celulas -->
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <!-- Card body -->
            {% if docente %}
            <div class="card-body card-head regula-altura">
              <div class="row">
                {% for item in docente %}
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">{{ card_1_titulo }}</h5>
                  <span class="h3 font-weight-bold mb-0">{{ item.nome }}</span>
                </div>
                <div class="col-auto">
                  <a href='{{ item.link_lattes }}' target='_blank'>
                    <i class="ai ai-lattes ai-2x f-20"></i>
                  </a>
                </div>
                {% endfor %}
              </div>
            </div>
            {% endif %}
            {% if regulador %}
            <div class="card-body card-head regula-altura">
              <div class="row">
                <div class="col texto-numero-docentes">
                  <h5 class="card-title text-uppercase text-muted mb-0">{{ numero_docentes.titulo }}</h5>

                  <span class="h3 font-weight-bold mb-0">{{ numero_docentes.texto_ativos.ativos }} /</span>
                  <span class="h3 font-weight-bold mb-0"> {{ numero_docentes.texto_ativos.aposentados }}</span><br>
                  <span class="h3 font-weight-bold mb-0">{{ numero_docentes.texto_ativos.total }}</span>
                  <!-- {{ numero_docentes.texto_ativos }} -->
                </div>
                <div class="col-auto">
                  <!-- {{ numero_docentes.numero_ativos }} -->
                </div>
              </div>
              <p class="mt-3 mb-0 text-sm">
              </p>
            </div>
            {% endif %}
            {% if numero_alunos %}
              <div class="card-body card-head regula-altura">
                <div class="row">
                  <div class="col texto-numero-docentes">
                    <h5 class="card-title text-uppercase text-muted mb-0">{{ numero_alunos.titulo }}</h5>

                    <span class="h3 font-weight-bold mb-0">Ativos: {{ numero_alunos.text }}</span>

                    <!-- {{ numero_docentes.texto_ativos }} -->
                  </div>
                  <div class="col-auto">
                    <!-- {{ numero_docentes.numero_ativos }} -->
                  </div>
                </div>
                <p class="mt-3 mb-0 text-sm">
                </p>
              </div>
            {% endif %}
          </div>
        </div>
        <!-- Celulas -->
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">

            <!-- Card body -->
            <div class="card-body card-head regula-altura">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0"> {{ card_2_titulo }}</h5>

                </div>

                <div class="col-auto">

                </div>

              </div>

              <button type="button" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="h3 font-weight-bold mb-0"><i class="fas fa-angle-down mr-2"></i>{{ dropdown_label }}</span>
              </button>
              <div class="dropdown-menu">
                {% if informacoes_card %}

                {% for i in informacoes_card %}
                <p class="mt-3 mb-0 text-sm dropdown-item">
                  {{ i }}
                </p>
                {% endfor %}

                {% else %}

                <p class="mt-3 mb-0 text-sm dropdown-item">
                  Não existem linhas de pesquisa cadastradas!
                </p>

                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <!-- Celulas -->
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            {% if docente != None %}
            <!-- Card body -->
            <div class="card-body card-head regula-altura">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">{{ card_3_titulo }}</h5>
                  <span class="h3 font-weight-bold mb-0">{{ card_3 }}</span>
                </div>
                <div class="col-auto">

                </div>
              </div>
              <p class="mt-3 mb-0 text-sm">
                <!-- <span class="text-success mr-2"></span>
                  <span class="text-nowrap"></span> -->
              </p>
            </div>
            {% endif %}
          </div>
        </div>
        <!-- Celulas -->
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            {% if docente != None %}
            <!-- Card body -->
            <div class="card-body card-head regula-altura">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">{{ card_4_titulo }}</h5>
                  <span class="h3 font-weight-bold mb-0">{{ card_4 }}</span>
                </div>
                <div class="col-auto">

                </div>
              </div>
              <p class="mt-3 mb-0 text-sm">
                <!-- <span class="text-success mr-2"></span> -->
                <!-- <span class="text-nowrap"></span> -->
              </p>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>