{% load static %}
<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="/">
        <img src="/static/assets/img/{{ logo }}" class="navbar-brand-img">
      </a>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->

        <ul class="navbar-nav">

          {% for item in menu %}
            {% if item.submenu %}
            <li class="nav-item dropdown">
              <a class="center-item break-word nav-link dropdown-toggle {% if 'index' in segment %} active {% endif %}" href=""  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                
                <span class="nav-link-text">{{ item.text }}</span>
              </a>
              <div class="dropdown-menu submenu" aria-labelledby="navbarDropdown">
                {% for i in item.submenu %}
                <a class="break-word dropdown-item {% if 'index' in segment %} active {% endif %}" href="{{ i.url }}" >
                  <span class="nav-link-text">{{ i.text }}</span>
                </a>
                {% endfor %}
              </div>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="break-word nav-link {% if 'index' in segment %} active {% endif %}" href="{{ item.url }}">
                
                <span class="nav-link-text">{{ item.text }}</span>
              </a>
            </li>
            {% endif %}
    
          {% endfor %}

        </ul>
        
        <hr class="my-3">

        <ul class="navbar-nav sidebar-items">

          <a href="/sobre-nos" class="sidebar-items-items">
            <li>Projeto</li>
          </a>
          <a href="https://dados.fflch.usp.br/" target="_blank" class="sidebar-items-items">
            <li>Dados</li>
          </a>
          <a href="https://eaip.fflch.usp.br/" target="_blank" class="sidebar-items-items">
            <li>EAIP</li>
          </a>
        </ul>

      </div>
    </div>
  </div>
</nav>