<div class="col-xl-4">
    <div class="card">
      <div class="card-header border-0">
        <div class="row align-items-center">
            <div class="col">
                {% for i in tabela_publicacoes %}
                <h3 class="mb-0 titulo-tabela-publi">{{ i.titulo }} </h3>
                {% endfor %}
            </div>
        </div>
      </div>
      <div class="">
        <!-- Projects table -->
        <table class="table table-flush tabela-publicacoes">
          <thead class="thead-light">
            <tr>
              {% for i in tabela_publicacoes %}
              <th scope="col">{{ i.titulo_trabalho }}</th>
              <th scope="col">{{ i.ano }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
                {% for tabela in tabela_pu %}
                <tr>
                    {% for item in tabela %}
                      {% if item == tabela|last %}
                    <td class='pl-3 text-center'>
                        {{ item }}
                    </td>
                    {% else %}
                    <td class='pl-3 text-left'>
                      {{ item }}
                    </td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
  </div>