
  <table class="tabela-mapa">
    <thead>
      <tr>
        <th scope="col" class="header-mapa header-table-estados">Estados</th>
        <th scope="col" class="header-mapa header-table-alunos">Alunos</th>
        <th scope="col" class="header-mapa header-table-estados">Estados</th>
        <th scope="col" class="header-mapa header-table-alunos">Alunos</th>
      </tr>
    </thead>
    <tbody>
      {% for tabela in tabela_alunos_estados %}
      <tr class="linha-tabela-mapa">
        {% for item in tabela %}
          <td class="cell-tabel-mapa">
            {{ item }}
          </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
