<div class="col-xl-4 ">
    <div class="card regulador-sobre-nos">
      <div class="card-header border-0" style='background-color: #f5f8fb;'>
        <div class="row align-items-center">
          {% for item in menu_table %}
            <h3 class='titulo-tabela'>{{ item.titulo }}</h3>
          {% endfor %}
          
        </div>
      </div>
      <hr class="mt-0 mb-0 font-weight-bold">
      <div class="table-responsive">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            
            <tr>
            </tr>
            
          </thead>
          <tbody>
            {% for i in menu_table %}
            <tr>
                <td>
                    <a href="/sobre-nos" >
                        {{ i.text1 }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="https://dados.fflch.usp.br/" target="_blank" >
                        {{ i.text2 }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="https://eaip.fflch.usp.br/" target="_blank" >
                        {{ i.text3 }}
                    </a>
                </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>