<div class="col-xl-4">
    <div class="card">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <p class='titulo-tabela'>Relação entre pesquisas com e sem bolsa</p>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            
            <tr>
              {% for item in tabela_bolsas.headers %}
              <th scope="col">{{ item }}</th>
              {% endfor %}
            </tr>
            
          </thead>
          <tbody>
                {% for tabela in tabela_bolsas.tabelas %}
                <tr>
                  {% for item in tabela %}
                  <td>
                    {{ item }}
                  </td>
                  {% endfor %}
                </tr>
                {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>