<div class="col-xl-8">
    <div class="card">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <p class='titulo-tabela'>Defesas realizadas no ano de 2021</p>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table align-items-center table-flush" id="tabela-defesas">
          <thead class="thead-light">
            
            <tr>
              {% for item in tabela_defesas.headers %}
              <th scope="col">{{ item }}</th>
              {% endfor %}
            </tr>
            
          </thead>
          <tbody>
                {% for tabela in tabela_defesas.tabela %}
                <tr>
                  {% for item in tabela %}
                  <td style="white-space: normal;">
                    {{ item }}
                  </td>
                  {% endfor %}
                </tr>
                {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>