<div class="table-container">
  <div class="table-content">
      <span class="">
          <p class="sobre-nos-header">
              <span>Sobre nós</span>
          </p>
      </span>
      <span class="sobre-nos-items">
              <a href="/projeto/">
                Sobre o projeto
              </a>
              <a href="https://eaip.fflch.usp.br/" target="_blank">
                Escritório de Apoio Institucional ao Pesquisador - EAIP
              </a>
              <a href="https://sti.fflch.usp.br/" target="_blank">
                Seção Técnica de Informática - STI 
              </a>
      </span>
    </div>
</div>