<table class="w-100">
  <thead>
      <tr class="table-row-header"> 
          <th></th>
          <th class="table-header-item">Graduação</th>
          <th class="table-header-item">Pós-Graduação</th>
          <th class="table-header-item">Pós-Doutorado</th>
          <th class="table-header-item">Cultura e Extensão</th>
      </tr>
  </thead>
  <tbody>
      <tr class="table-row-default">
          <td>SP</td>
          <td>3213</td>
          <td>443</td>
          <td>543</td>
          <td>5435</td>
      </tr>
      <tr>
          <td>RJ</td>
          <td>3213</td>
          <td>543</td>
          <td>123</td>
          <td>5435</td>
      </tr>
  </tbody>
</table>