<div class="contato-container">
    <div class="container-sobre-nos">
        <h5>
            Contato
        </h5>
    </div>
</div>
<div class="contato-container">
    
    <div class="container-sobre-nos">
        <h5>
            Estamos Localizados em:
        </h5>
        <div class="container-sobre-nos-infos">
            <span>Edifício de Filosofia e Ciências Sociais - FFLCH-USP</span>
            <span>Av. Prof. Luciano Gualberto, 315.</span>
            <span>Sala: 116</span>
            <span>Butantã - São Paulo</span>
            <span>Telefones: (11) 2648-1316, 2648-1590 e 3091-0400</span>
            <span>Email: eaipfflch@usp.br</span>
        </div>
    </div>
    <div class="container-sobre-nos">
        <div class="container-sobre-nos">
            <h6>Responsáveis:</h6>
            <div class="container-sobre-nos-infos">
                <span>Nelson Alves Caetano</span>
                <span>Cristiane Souza</span>
                <span>Thiago Gomes Veríssimo</span>
            </div>
        </div>
        <div class="container-sobre-nos">
            <h6>
                Estagiários:
            </h6>
            <div class="container-sobre-nos-infos">
                <span>Andre de Queiroz Patrinicola - andrepatrinicola@usp.br</span>
                <span>Vinicius Fernandes Chagas - vinicius.chagas@usp.br</span>
                <span>Felipe de Assis Mello - felipe_de_assis@usp.br</span>
            </div>
        </div>
    </div>
    <div class="container-sobre-nos-icons">
        <a href="https://github.com/fflch/analytics" target="_blank">
            <i class="fa-brands fa-github"></i>
        </a>
        <a href="https://eaip.fflch.usp.br/" target="_blank">
            <i class="fa-solid fa-globe"></i>
        </a>
    </div>
</div>