<div class="col-xl-{% if tabela_pu %}8{% else %}12{% endif %}">
  <div class="card bg-default">
    <div class="card-header bg-transparent">
      <div class="row align-items-center">
          <ul class="nav nav-pills justify-content-end grafico-docente-tab" role="tablist">
            {% for grafico in graficos %}
            <li class="nav-item mr-2 mr-md-0" data-toggle="chart">
              <a href="#{{ grafico.grafico_titulo.nome }}" class="nav-link py-2 px-3 {% if graficos|first %}active{% endif %} ml-20" data-toggle="tab" id="grafico-{{ grafico.grafico_titulo.categoria }}" role="tab" aria-controls="{{ grafico.grafico_titulo.nome }}" aria-selected="{% if graficos|first %}true{% else %}false{% endif %}">
                <span class="d-none d-md-block"></span>
                <span class="d-md-none"></span>
                <h6 class="text-uppercase ls-1 mb-1">{{ grafico.grafico_titulo.nome }}</h6>
              </a>
            </li>
            {% endfor %}
          </ul>
      </div>
    </div>
    <div class="card-body card-body-grafico-docente">
      <!-- Chart -->
      <div class="chart tab-content chart-grafico-docente">
        {% for grafico in graficos %}
        <div class="tab-pane fade show{% if graficos|first %} active{% endif %}" id="artigo" role="tabpanel" aria-labelledby="grafico-artigo">
          <h5 class="h3 text-white mb-0 ml-3 titulo-grafico-docente-tab">{{ grafico.grafico_titulo.titulo }}</h5>
          {% autoescape off %}
            {{ grafico.graph }}
          {% endautoescape %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>