<div class="col-xl-8">
    <div class="card bg-default">
      <div class="card-body card-body-grafico-docente">
        <!-- Chart -->
        <div class="chart tab-content chart-grafico-docente">
          <div class="tab-pane fade show active" id="artigo" role="tabpanel" aria-labelledby="grafico-artigo">
            <h5 class="h3 text-white mb-0 ml-3 titulo-grafico-docente-tab">{{ titulo_bolsas }}</h5>
            {% autoescape off %}
            {{ grafico_bolsas }}
            {% endautoescape %}
          </div>
        </div>
      </div>
    </div>
  </div>