{% extends 'layouts/_base.html' %}

{% block title %} FFLCH {% endblock title %}

<!-- Specific CSS goes HERE -->

{% block content %}


<div class="dashboard-row">
  <div class="card-dash-6">
    <span class="messages"><i class="fa-regular fa-circle-exclamation"></i> Ano inicial maior que ano final</span>
    <div class="select-container">
      <label>Relativo</label>
      <input type="checkbox" class="check-box">

      <label>Ano inicial</label>
      {% include 'includes/anos.html' %}

      <label>Ano final</label>
      {% include 'includes/anos_reverse.html' %}
      <select class="select-grafico raca-atual">
        {% for departamento in departamentos %}
          {% if departamento == 'Geral' %}
            <option value="">{{ departamento }}</option>
          {% else %}
          <option value="{{ departamento }}">{{ departamento }}</option>
          {% endif %}
        {% endfor %}
      </select>

      <btn class="btn btn-dark me-5" style="background-color: #052e70;">
          Buscar
      </btn>
    </div>

    <div class="grafico-container">

      <canvas id="raca-por-ano"></canvas>

    </div>
  </div>
  <div class="card-dash-3">
    <div class="select-container">
      <select class="select-grafico raca-atual">
        {% for departamento in departamentos %}
          {% if departamento == 'Geral' %}
            <option value="">{{ departamento }}</option>
          {% else %}
          <option value="{{ departamento }}">{{ departamento }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
    <div class="grafico-container">

      <canvas id="raca-atual"></canvas>

    </div>
  </div>
</div>
<div class="dashboard-row">
  <div class="card-dash-3">
    <div class="select-container">
      <select class="select-grafico sexo-atual">
        {% for departamento in departamentos %}
        <option value="{{ departamento }}">{{ departamento }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="grafico-container">

      <canvas id="sexo-atual"></canvas>

    </div>
  </div>
  <div class="card-dash-6">
    <span class="messages"><i class="fa-regular fa-circle-exclamation"></i> Ano inicial maior que ano final</span>
    <div class="select-container">
      <label>Relativo</label>
      <input type="checkbox" class="check-box">

      <label>Ano inicial</label>
      {% include 'includes/anos.html' %}

      <label>Ano final</label>
      {% include 'includes/anos_reverse.html' %}
      <select class="select-grafico sexo-por-ano">
        {% for departamento in departamentos %}
          {% if departamento == 'Geral' %}
            <option value="">{{ departamento }}</option>
          {% else %}
          <option value="{{ departamento }}">{{ departamento }}</option>
          {% endif %}
        {% endfor %}
      </select>

      <btn class="btn btn-dark me-5" style="background-color: #052e70;">
          Buscar
      </btn>
    </div>
    <div class="grafico-container">

      <canvas id="sexo-por-ano"></canvas>

    </div>
  </div>
</div>

<div class="dashboard-row">
  <div class="card-dash-6">
    <span class="messages"><i class="fa-regular fa-circle-exclamation"></i> Ano inicial maior que ano final</span>
    <div class="select-container">
      <label>Ano</label>
      {% include 'includes/anos.html' %}

      <select class="select-grafico teste">
        {% for departamento in departamentos %}
          {% if departamento == 'Geral' %}
            <option value="">{{ departamento }}</option>
          {% else %}
          <option value="{{ departamento }}">{{ departamento }}</option>
          {% endif %}
        {% endfor %}
      </select>

      <btn class="btn btn-dark me-5" style="background-color: #052e70;">
          Buscar
      </btn>
    </div>

    <div class="grafico-container">

      <canvas id="teste"></canvas>

    </div>
  </div>
</div>


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}



{% endblock javascripts %}