{% extends 'layouts/_base.html' %}

{% block title %} FFLCH {% endblock title %}

<!-- Specific CSS goes HERE -->

{% block content %}


<div class="dashboard-row">
  <div class="card-dash-5">
    <span class="messages"><i class="fa-regular fa-circle-exclamation"></i> Ano inicial maior que ano final</span>
    <div class="select-container">
      <div>
        <label>Relativo</label>
        <input type="checkbox" class="check-box">
      </div>

      <div>
        <label>Ano</label>
        <select class="select-grafico">
          {% for ano in anos_reverse %}
          <option value="{{ ano }}">{{ ano }}</option>
          {% endfor %}
        </select>
      </div>

      <div>
        <label>Departamento</label>
        <select class="select-grafico raca-sexo">
          {% for departamento in departamentos %}
            {% if departamento == 'Geral' %}
              <option value="">{{ departamento }}</option>
            {% else %}
              <option value="{{ departamento }}">{{ departamento }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>

      <btn class="btn btn-dark me-5" style="background-color: #052e70;">
        Buscar
      </btn>
    </div>

    <div class="grafico-container">

      <canvas id="raca-sexo"></canvas>

      <div class="loader show"></div>

      {% include 'includes/fonte.html' %}
    </div>
  </div>
  <div class="card-dash-5">
    <span class="messages"><i class="fa-regular fa-circle-exclamation"></i> Ano inicial maior que ano final</span>
    <div class="select-container">
      <div>
        <label>Relativo</label>
        <input type="checkbox" class="check-box">
      </div>

      <div>
        <label>Ano inicial</label>
        {% include 'includes/anos.html' %}
      </div>

      <div>
        <label>Ano final</label>
        {% include 'includes/anos_reverse.html' %}
      </div>

      <div>
        <label>Departamento</label>
        <select class="select-grafico sexo-por-ano">
          {% for departamento in departamentos %}
          {% if departamento == 'Geral' %}
          <option value="">{{ departamento }}</option>
          {% else %}
          <option value="{{ departamento }}">{{ departamento }}</option>
          {% endif %}
          {% endfor %}
        </select>
      </div>

      <btn class="btn btn-dark me-5" style="background-color: #052e70;">
        Buscar
      </btn>
    </div>
    <div class="grafico-container">

      <canvas id="sexo-por-ano"></canvas>

      <div class="loader show"></div>

      {% include 'includes/fonte.html' %}
    </div>
  </div>
</div>
<div class="dashboard-row">

  <div class="card-dash-6">
    <span class="messages"><i class="fa-regular fa-circle-exclamation"></i> Ano inicial maior que ano final</span>
    <div class="select-container">
      <div>
        <label>Relativo</label>
        <input type="checkbox" class="check-box">
      </div>

      <div>
        <label>Ano inicial</label>
        {% include 'includes/anos.html' %}
      </div>

      <div>
        <label>Ano final</label>
        {% include 'includes/anos_reverse.html' %}
      </div>

      <div>
        <label>Departamento</label>
        <select class="select-grafico raca-atual">
          {% for departamento in departamentos %}
          {% if departamento == 'Geral' %}
          <option value="">{{ departamento }}</option>
          {% else %}
          <option value="{{ departamento }}">{{ departamento }}</option>
          {% endif %}
          {% endfor %}
        </select>
      </div>

      <btn class="btn btn-dark me-5" style="background-color: #052e70;">
        Buscar
      </btn>
    </div>

    <div class="grafico-container">

      <canvas id="raca-por-ano"></canvas>

      <div class="loader show"></div>

      {% include 'includes/fonte.html' %}
    </div>
  </div>

</div>


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}



{% endblock javascripts %}