{% extends 'layouts/_base.html' %}

{% block title %} FFLCH {% endblock title %}


{% block content %}

<div class="dashboard-row">
    <div class="card-dash-6">
        <span class="messages"><i class="fa-regular fa-circle-exclamation"></i> Ano inicial maior que ano final</span>
        <div class="select-container">      
            <div>
              <label id="ano_inicial">Ano inicial</label>
              {% include 'includes/anos.html' %}
            </div>
      
            <div>
              <label id="ano_final">Ano final</label>
              {% include 'includes/anos_reverse.html' %}
            </div>
      
            <div>
              <label id="departamento">Departamento</label>
              <select class="select-grafico sexo-por-ano">
                {% for departamento in departamentos %}
                  {% if departamento == 'Geral' %}
                    <option value="">{{ departamento }}</option>
                  {% else %}
                    <option value="{{ departamento }}">{{ departamento }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
      
            <btn class="btn btn-dark me-5" style="background-color: #052e70;">
              Buscar
            </btn>
          </div>

        <div class="grafico-container">

            <canvas id="ingressantes-egressos"></canvas>

            <div class="loader show"></div>

            {% include 'includes/fonte.html' %}
        </div>
    </div>
</div>



{% endblock content %}


{% block javascripts %}



{% endblock javascripts %}