{% extends 'layouts/_base.html' %}

{% block title %} FFLCH {% endblock title %}

<!-- Specific CSS goes HERE -->

{% block content %}


<div class="dashboard-row">
    <div class="card-dash-6">
        <div class="contato-container">
            <div class="container-sobre-nos">
                <h5>
                    Sobre nós
                </h5>
            </div>
        </div>

        <div class="contato-container">
            <div class="container-sobre-nos">
                <h5>
                    O projeto
                </h5>
                <div class="container-sobre-nos-text">
                    <span>
                        O projeto Analytics surge da demanda crescente por transparência e divulgação de informações
                        sobre as características, particularidades e padrões desta Unidade. Por meio de gráficos, mapas
                        e tabelas dinâmicas, o intuito da plataforma é facilitar o acesso do usuário aos dados que
                        ilustram a diversidade, bem como as métricas de produção acadêmica das categorias docente,
                        discente e técnico-administrativa que compõem a Faculdade de Filosofia Letras e Ciências Humanas
                        (FFLCH) da Universidade de São Paulo (USP).
                    </span>
                    <span>
                        O resultado do projeto é fruto de mais de 2 anos de esforços coletivos de setores da
                        administração da FFLCH e da USP que auxiliaram, direta e indiretamente, o Escritório de Apoio
                        Institucional ao Pesquisador a estruturar sua base de dados com confiabilidade, segurança e
                        sigilo. Nosso principal produto foi a criação de um site dinâmico, moderno, atualizado e preciso
                        quanto aos dados fornecidos.
                    </span>
                    <span>
                        Os dados provêm de um processo de <a target="_blank" href="https://github.com/fflch/etl">ETL</a>
                        que retira as informações do banco de dados da USP e as armazena de forma estruturada para
                        aumentar a performance, facilitar a manutenção e garantir a qualidade. Ademais, o sistema se
                        integra aos dados cadastrados na plataforma Lattes, o que garante o acesso ao histórico
                        acadêmico dos alunos (graduação e , pós-graduação) pesquisadores (pós-doutorado e pesquisador
                        colaborador) e docentes ligados à faculdade, permitindo a divulgação das atividades exercidas
                        pelos membros da comunidade e valorizando a produção acadêmica da FFLCH.
                    </span>
                    <span>
                        A plataforma está sendo desenvolvida em código aberto e pode ser utilizada por outras unidades
                        que desejam ampliar a divulgação de dados, resguardando as particularidades de cada instituição.
                        O código pode ser encontrado no <a target="_blank" href="https://github.com/fflch">Github</a> da
                        FFLCH. A interface gráfica é inspirada no projeto <a target="_blank"
                            href="https://www.creative-tim.com/product/argon-dashboard-django">Argon</a>plataforma de
                        dashboards de código aberto.
                    </span>
                    <span>
                        Quaisquer sugestões, reclamações ou erros identificados podem ser enviados para a equipe de
                        dados do EAIP – FFLCH.
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="card-dash-3">

        {% include 'includes/tabelas/tabela_contato.html' %}

    </div>
</div>


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}



{% endblock javascripts %}