{% extends 'layouts/_base.html' %}

{% block title %} FFLCH {% endblock title %}

<!-- Specific CSS goes HERE -->

{% block content %}


<div class="dashboard-row">
    <div class="card-dash-6">
        <div class="contato-container">
            <div class="container-sobre-nos">
                <h5>
                    Sobre nós
                </h5>
            </div>
        </div>

        <div class="contato-container">
            <div class="container-sobre-nos">
                <h5>
                    O projeto
                </h5>
                <div class="container-sobre-nos-text">
                    <span>
                        O projeto Analytics surge da demanda crescente dentro do mundo universitário de aumentar a
                        transparência e divulgação de informações sobre as características, particularidades e padrões
                        da faculdade. Por meio de gráficos, mapas e tabelas dinâmicas, o intuito da plataforma é
                        facilitar o acesso do usuário aos dados que ilustram a diversidade, bem como as métricas de
                        produção acadêmica das entidades que compõem a comunidade de Docentes, Alunos e Funcionários
                        dentro da Faculdade de Filosofia Letras e Ciências Humanas(FFLCH) da Universidade de São
                        Paulo(USP).
                    </span>
                    <span>
                        O resultado do projeto é fruto de mais de 2 anos de esforços coletivos de diversos setores da
                        administração da FFLCH e da USP que auxiliaram direta e indiretamente o Escritório de Apoio ao
                        Pesquisador a estruturar sua base de dados com confiabilidade, segurança e sigilo, prezando
                        pelas boas práticas. O produto disso é um site dinâmico, moderno, atualizado e preciso quanto
                        aos dados fornecidos e a confiabilidade das informações.
                    </span>
                    <span>
                        Os dados provem de um processo de <a target="_blank" href="https://en.wikipedia.org/wiki/Extract,_transform,_load">ETL</a>
                        que retira as informações do banco de dados da USP e armaneza-as de forma estruturada para aumentar a performance, 
                        facilitar a manutenção e garantir a qualidade. Ademais, o sistema se integra aos dados
                        cadastrados na plataforma Lattes, que nos garante acesso ao histórico acadêmico completo de alunos de IC,
                        pós-graduação, pós-doutorado, cultura e extensão e docentes ligados à faculdade, permitindo a divulgação das atividades exercidas pelos
                        membros da comunidade e valorizando a produção teórica da FFLCH.
                    </span>
                    <span>
                        A plataforma é construida com código aberto e pode ser utilizada como exemplo para que outras unidades, no desejo
                        de ampliar a divulgação de dados, possam aplicar a arquitetura proposta pela FFLCH, resguardando as particularidades 
                        de cada Instituto, Departamento e ou Faculdade da USP. O código pode ser encontrado no <a target="_blank" href="https://github.com/fflch">Github</a> da FFLCH. 
                        A interface gráfica é inspirada no projeto <a target="_blank" href="https://www.creative-tim.com/product/argon-dashboard-django">Argon</a>, plataforma de dashboards de código aberto. 
                        Qualquer sugestão, reclamação ou erros que o usuário encontrar, podem ser enviados por e-mail para a equipe de dados
                        do EAIP - FFLCH que consta nas informações de contato. 
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="card-dash-3">
        
        {% include 'includes/tabelas/tabela_contato.html' %}

    </div>
</div>


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}



{% endblock javascripts %}