{% extends 'layouts/base.html' %}

{% block title %} FFLCH {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}



<!-- Page content -->
<div class="container-fluid mt--6">

  <br><br><br><br>

  <div class="row">

    {% include 'includes/tabelas/tabela_todos_docentes.html' %}

  </div>


  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}



{% endblock javascripts %}