{% extends 'layouts/base.html' %}

{% block title %} FFLCH {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}



<!-- Page content -->
<div class="container-fluid mt--6">

  <br><br><br><br>

  <h3 class="titulo-sessao-departamentos"><i class="fas fa-angle-right mr-2"></i>Produção acadêmica</h3>

  <div class="row">

    {% include 'includes/graficos/grafico_prod_docentes.html' %}

  </div>

  <h3 class="titulo-sessao-departamentos"><i class="fas fa-angle-right mr-2"></i>Iniciação Científica e pós Graduação</h3>

  <div class="row">

    {% include 'includes/tabelas/tabela_trabalhos.html' %}

    {% include 'includes/graficos/grafico_bolsas.html' %}

  </div>

  <h3 class="titulo-sessao-departamentos"><i class="fas fa-angle-right mr-2"></i>Docentes</h3>

  <div class="row">

    {% include 'includes/tabelas/tabela_todos_docentes.html' %}

    {% include 'includes/graficos/grafico_relacao_cursos.html' %}

  </div>


  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>

$(document).ready(function(){
    $('#tabelas-dinamicas').DataTable({responsive: true,
// "bSort": false,
"aaSorting": [],
"pageLength": 10,
"language": {
    "decimal": "",
    "emptyTable": "Sem dados disponíveis",
    "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
    "infoEmpty": "Mostrando de 0 até 0 de 0 registros",
    "infoFiltered": "(filtrado de _MAX_ registros no total)",
    "infoPostFix": "",
    "thousands": ",",
    "lengthMenu": "Mostrar _MENU_ Registros",
    "loadingRecords": "A carregar dados...",
    "processing": "A processar...",
    "search": "Procurar:",
    "zeroRecords": "Não foram encontrados resultados",
    "paginate": {
        "first": "Primeiro",
        "last": "Último",
        "next": "",
        "previous": ""
    },
    "aria": {
        "sortAscending": ": ordem crescente",
        "sortDescending": ": ordem decrescente"
    }
}});
});


</script>


{% endblock javascripts %}