{% extends 'layouts/_base.html' %}

{% block title %} FFLCH {% endblock title %}

<!-- Specific CSS goes HERE -->

{% block content %}


<div class="dashboard-row">
  <div class="card-dash-6">
    <div class="select-container">
      <select class="select-grafico prod-por-ano">
        {% for departamento in departamentos %}
          <option value="{{ departamento }}">{{ departamento }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="grafico-container">

      <canvas id="prod-por-ano"></canvas>

    </div>
  </div>
  <div class="card-dash-3">
    <div class="select-container">
      <select class="select-grafico prod-total">
        {% for departamento in departamentos %}
          <option value="{{ departamento }}">{{ departamento }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="grafico-container">

      <canvas id="prod-total"></canvas>

    </div>
  </div>
</div>

<div class="dashboard-row">
  <div class="card-dash-3">

  </div>
  <div class="card-dash-6">
    <div class="select-container">
      <select class="select-grafico ic-bolsa-sem">
        {% for departamento in departamentos %}
          <option value="{{ departamento }}">{{ departamento }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="grafico-container">

      <canvas id="ic-bolsa-sem"></canvas>

    </div>
  </div>

</div>

<div class="dashboard-row">
  
  <div class="card-dash-6">

  </div>

  <div class="card-dash-3">
    <div class="select-container">
      <select class="select-grafico defesas">
        {% for departamento in departamentos %}
          <option value="{{ departamento }}">{{ departamento }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="grafico-container">

      <canvas id="defesas"></canvas>

    </div>
  </div>

</div>


{% endblock content %}
