{% extends 'layouts/base.html' %}

{% block title %} FFLCH {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}



<!-- Page content -->
<div class="container-fluid mt--6 position-relative">

  <div id='loading'>

    {% include  "includes/loading.html" %}

  </div>

  <div class="row">

    {% include "includes/graficos/grafico_historico.html" %}

    {% if tabela_pu != None %}
    {% include "includes/tabelas/tabela_publicacoes.html" %}
    {% endif %}

  </div>
  {% if tabela != None %}
  <div class="row">

    {% include "includes/tabelas/tabela_orientandos.html" %}

    {% include "includes/graficos/grafico_barras.html" %}

  </div>
  {% endif %}
  


  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}