{% extends 'layouts/_base.html' %}

{% block title %} FFLCH {% endblock title %}

<!-- Specific CSS goes HERE -->

{% block content %}


<div class="dashboard-row">
  <div class="card-dash-6">
    <div class="select-container">
      <select class="select-grafico raca-por-ano">
        <option value="Todos">Geral</option>
        <option value="Geografia">Geografia</option>
        <option value="Historia">Historia</option>
        <option value="Letras">Letras</option>
        <option value="Ciências Sociais">Ciências Sociais</option>
        <option value="Filosofia">Filosofia</option>
      </select>
    </div>
    <div class="grafico-container">

      <canvas id="raca-por-ano"></canvas>

    </div>
  </div>
  <div class="card-dash-3">
    
  </div>
</div>
<div class="dashboard-row">
  <div class="card-dash-3">
    <div class="select-container">
      <select class="select-grafico sexo-atual">
        <option value="Todos">Geral</option>
        <option value="Geografia">Geografia</option>
        <option value="Historia">Historia</option>
        <option value="Letras">Letras</option>
        <option value="Ciências Sociais">Ciências Sociais</option>
        <option value="Filosofia">Filosofia</option>
      </select>
    </div>
    <div class="grafico-container">

      <canvas id="sexo-atual"></canvas>

    </div>
  </div>
  <div class="card-dash-6">
    <div class="select-container">
      <select class="select-grafico sexo-por-ano">
        <option value="Todos">Geral</option>
        <option value="Geografia">Geografia</option>
        <option value="Historia">Historia</option>
        <option value="Letras">Letras</option>
        <option value="Ciências Sociais">Ciências Sociais</option>
        <option value="Filosofia">Filosofia</option>
      </select>
    </div>
    <div class="grafico-container">

      <canvas id="sexo-por-ano"></canvas>

    </div>
  </div>
</div>
<div class="dashboard-row">
  <div class="card-dash-5">
      
  </div>
  <div class="card-dash-5">
      
  </div>
</div>
<div class="dashboard-row">
  <div class="card-dash-10">
      
  </div>
</div>
<div class="dashboard-row">
  <div class="card-dash-5">
      
  </div>
  <div class="card-dash-3">
      
  </div>
</div>

  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}



{% endblock javascripts %}