{% extends 'layouts/base.html' %}

{% block title %} FFLCH {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}


{% block content %}


<h1 class="titulo-index">
    FFLCH | Analytics
</h1>


<h6 class="texto-index">
    O Portal de Dados surge a fim de disponibilizar ao público informações atualizadas em tempo real sobre a Faculdade
    de Filosofia, Letras e Ciências Humans - FFLCH, unidade de ensino, pesquisa e extensão universitária que abrange as
    áreas de Filosofia, História, Geografia, Letras e Ciências Sociais da Universidade de São Paulo. Os dados
    disponíveis podem ser acessados através do catálogo a seguir, organizado por categorias.
</h6>



{% include "includes/footer.html" %}


{% endblock content %}


<!-- Specific JS goes HERE -->
{% block javascripts %}


{% endblock javascripts %}