<div class="col-xl-4">
    <div class="card">
      <div class="card-header bg-transparent">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="mb-0 titulo-tabela-publi">{{ grafico_defesa_mestrado_doutorado.titulo }}</h3>
            </div>
        </div>
      </div>
      <div class="card-body">
        {% autoescape off %}
            {{ grafico_defesa_mestrado_doutorado.grafico }}
        {% endautoescape %}
      </div>
    </div>
  </div>
